In [1]:
#Soma
4+4

In [2]:
#Subtração
4-3

In [3]:
#Multiplicação
4*4

16

In [4]:
#Soma + Multiplicação
((1+1)*(2))

4

In [5]:
#Soma + Subtração+ Multiplicação
((((1+1)*(2))-1))

3

In [6]:
#Divisão
4/2

2.0

In [7]:
#Divisão
5/2

2.5

In [8]:
#Divisão Float
5/1.5

3.3333333333333335

In [9]:
#Dividir e transformar em inteiro
5//2.5

2.0

In [10]:
#2Exemplo: Dividir e transformar em inteiro
5//2

2

In [11]:
type(5)

int

In [12]:
type(3.5)

float

In [13]:
#Soma de Float
3.1 + 1.9

5.0

#    """
#    Funcões de Conversão 
#    <Ñ converte, coleta apenas parte inteira>
#    """

# Outra forma de Comentario

In [14]:
float(9.5)

9.5

In [15]:
float(9)

9.0

In [16]:
int(9.5)

9

# Valores Exa, Bin

In [17]:
hex(10)

'0xa'

In [18]:
bin(10)

'0b1010'

#    Capturar valor absoluto

In [19]:
abs(-8)

8

In [20]:
abs(-20)

20

In [21]:
(((10-15)*7)+5)

-30

In [22]:
abs(((10-15)*7)+5)

30

# Potencia

In [23]:
2**2

4

In [24]:
3**3

27

In [25]:
15**2

225

# Arredondamento

In [26]:
15/7

2.142857142857143

In [27]:
round(15/7)

2

In [28]:
round(3,14)

3

# Variaveis

In [29]:
b = 5
print(b)

5

In [30]:
a = 6
print(a)

6

In [31]:
y = a*2 + b

In [32]:
print(y)

17

# Variavel e Operadores

In [33]:
var_teste = 1
print(var_teste)

1

In [34]:
#var Teste
#Se declarar assim tera mensagem de erro

In [35]:
var_teste2 = 2

In [36]:
type(var_teste2)

int

# Declaração Multipla

In [37]:
pessoa1, pessoa2, pessoa3 = "João", "Paulo", "Ernesto"

In [38]:
print(pessoa1,",",pessoa2,",",pessoa3)

João , Paulo , Ernesto

In [39]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [40]:
print(fruta1)

Laranja

# Atribuições e outros operadores

In [41]:
largura = 2

In [42]:
altura = 4

In [43]:
area = largura * altura

In [44]:
print(area)

8

In [45]:
perimetro = 2*largura + 2*altura

In [46]:
print(perimetro)

12

In [47]:
perimetro = ((2*(largura)) + (2*(altura)))

In [48]:
print(perimetro)

12

In [49]:
perimetro = ((2*(largura + 2)) + (2*(altura)))

In [50]:
print (perimetro)

16

# Contatenação de Varieveis

In [51]:
nome = "Ernesto"

In [52]:
sobrenome = "Gurgel"

In [53]:
fullName = nome + " " + sobrenome

In [54]:
fullName

'Ernesto Gurgel'

In [55]:
type(fullName)

str

# Posição das Strings e Strings

In [56]:
fullName[0]

'E'

In [57]:
fullName[1]

'r'

In [58]:
fullName[2]

'n'

In [59]:
fullName[0], fullName[1], fullName[2], fullName[3], fullName[4], fullName[5], fullName[6]

('E', 'r', 'n', 'e', 's', 't', 'o')

# Mostrar uma sequencia de 0 ate 3

In [60]:
fullName[:3]

'Ern'

# Mostrar do 5 ate o final

In [61]:
fullName[1:]

'rnesto Gurgel'

In [62]:
fullName[-5]

'u'

In [63]:
fullName[:-1]

'Ernesto Gurge'

In [64]:
fullName[-3:]

'gel'

# Saltar posições

In [65]:
fullName[::2]

'EnsoGre'

In [66]:
fullName[::1]

'Ernesto Gurgel'

In [67]:
fullName[::3]

'Eeoue'

In [68]:
"Saltando e escrevendo de tras para frente"
fullName[::-2]

'lgu ter'

# Strings são imutaveis, não podem ser alteradas
# fullName[0] = "U"

In [69]:
print("Teste Inicial")

Teste Inicial

In [70]:
'Testando uma String'

'Testando uma String'

In [71]:
"Testando uma String"

'Testando uma String'

# \N espaço quebra de linha

In [72]:
print("Testando \numa \nString")

Testando
uma
String

In [73]:
# Concatenando Strings

In [74]:
s1 = "a"
type(s1)

str

In [75]:
s2 = "b"
type(s2)

str

In [76]:
s0 = s1 + s2
print(s0)

ab

# Multiplicando letras

In [77]:
letra = "w"

In [78]:
letra = letra*3

In [79]:
print(letra)

www

# Built-In Strings

In [80]:
letra.upper()

'WWW'

In [81]:
letra.lower()

'www'

In [82]:
fullName.split()

['Ernesto', 'Gurgel']

In [83]:
fullName.split("e")

['Ern', 'sto Gurg', 'l']

In [84]:
fullName.capitalize()

'Ernesto gurgel'

In [85]:
fullName.find('e')

3

In [86]:
print(fullName == fullName)

True

In [87]:
print(fullName == letra)

False

# Listas podem ser mudadas, porem strings não podem

# Exempos de lista

In [88]:
#    Lista de unico elemento
listaDoMercado = ["Ovos, farinha, leite, maçãs"]

In [89]:
#    Lista 
listadoMercado2 = ["Ovos", "Farinha", "Leite", "Maçãs"]

In [90]:
print(listaDoMercado)

['Ovos, farinha, leite, maçãs']

In [91]:
print(listadoMercado2)

['Ovos', 'Farinha', 'Leite', 'Maçãs']

In [92]:
listaDoMercado[0]

'Ovos, farinha, leite, maçãs'

In [93]:
listadoMercado2[0]

'Ovos'

In [94]:
listaDadosDiferentesTipos = [100, 15.5, "Ovos"]

In [95]:
print(listaDadosDiferentesTipos)

[100, 15.5, 'Ovos']

In [96]:
listaDadosDiferentesTipos[2] = "chocolate"

In [97]:
print(listaDadosDiferentesTipos)

[100, 15.5, 'chocolate']

In [98]:
del listaDadosDiferentesTipos[2]

In [99]:
print(listaDadosDiferentesTipos)

[100, 15.5]

# Listas Aninhadas ou seja Matris

In [100]:
listaAninhadaMatriz = [
    [1,2,3],   [4,5,6],    [7,8,9],
    [10,11,12],[13,14,15], [16,17,18],
    [19,20,21],[22,23,24], [25,26,27],        
    ]

In [101]:
print(listaAninhadaMatriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24], [25, 26, 27]]

# Atribuindo variaveis a lista

In [102]:
variavelA = listaAninhadaMatriz[0]

In [103]:
print(variavelA)

[1, 2, 3]

In [104]:
listaAninhadaMatriz[0] = [0,0,0]

In [105]:
print(listaAninhadaMatriz)

[[0, 0, 0], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24], [25, 26, 27]]

In [106]:
type(listaAninhadaMatriz)

list

In [107]:
type(variavelA)

list

# Retornar um elemento lista Aninhada

In [108]:
listaAninhadaMatriz[0][1] = "Ideia"

In [109]:
print(listaAninhadaMatriz[0][1])

Ideia

In [110]:
print(listaAninhadaMatriz)

[[0, 'Ideia', 0], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24], [25, 26, 27]]

# Concatenação de listas

In [111]:
lista1 = listaAninhadaMatriz[0]

In [112]:
lista2 = listaAninhadaMatriz[1]

In [113]:
lista3 = listaAninhadaMatriz[0]

In [114]:
lista3

[0, 'Ideia', 0]

In [115]:
lista3[0] = 1

In [116]:
lista3

[1, 'Ideia', 0]

In [117]:
lista3[1] = 2

In [118]:
lista3[2] = 3

In [119]:
lista3

[1, 2, 3]

In [120]:
listaConcatenada = lista1 + lista2 + lista3

In [121]:
listaConcatenada

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [122]:
listaConcatenada.sort()

In [123]:
listaConcatenada

[1, 1, 2, 2, 3, 3, 4, 5, 6]

In [124]:
listaConcatenada.count(1)

2

In [125]:
listaConcatenada.count(2)

2

In [126]:
listaConcatenada.sort()

In [127]:
listaConcatenada

[1, 1, 2, 2, 3, 3, 4, 5, 6]

In [128]:
listaConcatenada.remove(1)

In [129]:
listaConcatenada

[1, 2, 2, 3, 3, 4, 5, 6]

In [130]:
listaConcatenada.remove(2)

In [131]:
listaConcatenada.remove(3)

In [132]:
listaConcatenada

[1, 2, 3, 4, 5, 6]

In [133]:
listaConcatenada.insert(0,0)

In [134]:
listaConcatenada

[0, 1, 2, 3, 4, 5, 6]

# Operadores (In), max, min

In [135]:
print(10 in listaConcatenada)

False

In [136]:
print(1 in listaConcatenada)

True

In [137]:
max(listaConcatenada)

6

In [138]:
min(listaConcatenada)

0

In [139]:
listaConcatenada.append(7)

In [140]:
listaConcatenada

[0, 1, 2, 3, 4, 5, 6, 7]

In [141]:
listaConcatenada.index(4)

4

# Criar lista vazia

In [142]:
listaVazia = []

In [143]:
print(listaVazia)

[]

In [144]:
type(listaVazia)

list

In [145]:
listaConcatenada.reverse()

In [146]:
listaConcatenada

[7, 6, 5, 4, 3, 2, 1, 0]

In [147]:
listaConcatenada.sort()

In [148]:
listaConcatenada

[0, 1, 2, 3, 4, 5, 6, 7]

# Dicionarios Mapeamento

# Dicionario sao criados com {k1:v1}

# Mapeamento são coleção de 
# objetos alimentados por uma
# chave e um valor associado

# Segue abaixo comparação lista

In [149]:
listaComparacao = ["Ernesto", 29, "Julia", 21, "Luiza", 59]

In [150]:
listaComparacao

['Ernesto', 29, 'Julia', 21, 'Luiza', 59]

# Segue abaixo comparação de dicionario

In [151]:
listaDicionario = {"Ernesto":29, "Julia":21, "Luiza":59}

In [152]:
listaDicionario

{'Ernesto': 29, 'Julia': 21, 'Luiza': 59}

In [153]:
listaDicionario["Ernesto"]

29

# O numero 29 é valor, então da erro, deve ser para pesquisar o indice
# listaDicionario[29]

# Atribuit nova idade

In [154]:
listaDicionario["Ernesto"] = 30

# Adicionando novo valor, ele reconhece que n existe e ja adiciona

In [155]:
listaDicionario["Joao"] = 25

In [156]:
listaDicionario

{'Ernesto': 30, 'Julia': 21, 'Luiza': 59, 'Joao': 25}

# Extraindo dados

In [157]:
listaDicionario.items()

dict_items([('Ernesto', 30), ('Julia', 21), ('Luiza', 59), ('Joao', 25)])

In [158]:
listaDicionario.keys()

dict_keys(['Ernesto', 'Julia', 'Luiza', 'Joao'])

In [159]:
listaDicionario.values()

dict_values([30, 21, 59, 25])

# Fazendo updade de dicionarios

In [160]:
dic_familia = {"Luiza":"Ernesto(Pai)","Ernesto(Filho)":"Julia", "Livia":"Gerardo"}

In [161]:
dic_familia

{'Luiza': 'Ernesto(Pai)', 'Ernesto(Filho)': 'Julia', 'Livia': 'Gerardo'}

In [162]:
dic_familia2 = {"Helenita":"Frank"}

In [163]:
dic_familia2

{'Helenita': 'Frank'}

# Vai adicionar valores do segundo dicionario  no primeiro dicionario

In [164]:
dic_familia.update(dic_familia2)

In [165]:
dic_familia

{'Luiza': 'Ernesto(Pai)',
 'Ernesto(Filho)': 'Julia',
 'Livia': 'Gerardo',
 'Helenita': 'Frank'}

# dicionario vazio é igual a lista vazia

In [166]:
dic_vazio = {}

In [167]:
print(dic_vazio)

{}

# Pode se misturar tipos diferentes de dado, exemplo
# valor para chave (string)
# string para chave

In [168]:
dic_misturado = {1:"texto1", "texto2":2}

In [169]:
dic_misturado

{1: 'texto1', 'texto2': 2}

In [170]:
dic_misturado[1]

'texto1'

In [171]:
dic_misturado["texto2"]

2

# Extrair um valor e transformar em maiusculo

In [172]:
dic_misturado[1][0].upper()

'T'

In [173]:
dic_misturado

{1: 'texto1', 'texto2': 2}

In [174]:
dict3 = {'key1':1230,'key2':[22,453,73.4],'key3':["Ovo", "Pão","Leite"]}

In [175]:
dict3

{'key1': 1230, 'key2': [22, 453, 73.4], 'key3': ['Ovo', 'Pão', 'Leite']}

In [176]:
dict3['key2'][0] = 0

In [177]:
dict3

{'key1': 1230, 'key2': [0, 453, 73.4], 'key3': ['Ovo', 'Pão', 'Leite']}

In [178]:
dict3['key3'][2].upper

In [179]:
dict3['key3']

['Ovo', 'Pão', 'Leite']

In [180]:
dict3['key2'][:]

[0, 453, 73.4]

In [181]:
dict3['key2'][:-2]

[0]

In [182]:
dict3['key2'][:2]

[0, 453]

In [183]:
dict3['key2'][0] += 1

In [184]:
dict3['key2']

[1, 453, 73.4]

In [185]:
dict3['key2'][1] -= 400

In [186]:
dict3['key2']

[1, 53, 73.4]

# Tuplas são necessarias quando são necessario imutabilidade,
# Data é boa tupla, posicao geografia
# codigo serial
# Sexo
# nao pode adicionar elementos erros
# tbm n pode alterar (n pode deletar)

In [187]:
tupla1 = ("Gegografia",23, "Elefante",25)

# é possivel reescrever ela inteira

In [188]:
tupla1 = ("Chocolate")

# Deletando uma tupla

In [189]:
del tupla1

In [190]:
print(tupla1)
#erro porque nao existe uma tupla1

NameError: name 'tupla1' is not defined

# Lista usamos []
# dicionario {}
# tupla ()

# Se precisar alterar um unico item ou mais podemos
# converter a tupla em lista e depois a lista em tupla

In [ ]:
tupla1 = ('A', 'B', 'C')

In [ ]:
print(tupla1)

In [ ]:
type(tupla1)

In [ ]:
convertorTupla = list(tupla1)

In [ ]:
print(convertorTupla)

In [ ]:
type(convertorTupla)

In [ ]:
convertorTupla.append('D')

In [ ]:
print(convertorTupla)

In [ ]:
novaTupla = tuple(convertorTupla)

In [ ]:
print(novaTupla)

In [ ]:
type(novaTupla)

# Condicionais IF, Else, elif

# dentro do condicional nao esquecer : e a identação um tabe para alinhamento e aninhação

In [ ]:
if 5 > 2:
    print("Esta funcionando")

In [ ]:
if 5 < 2:
    print("If esta funcionando")
else:
    print("Else esta funcionando")

In [ ]:
6>3

In [ ]:
6!=3

In [ ]:
6==6

In [ ]:
6!=6

In [ ]:
fullNameLoginRegistrado = "Julia Cardoso"

In [ ]:
fullNameSenhaRegistrada = 1234

In [ ]:
entradaName = "Ernesto Gurgel"

In [ ]:
entradaSenha = 2222

In [ ]:
if fullNameLoginRegistrado != entradaName: 
    print("Nome de usuario invalido")
if fullNameSenhaRegistrada != entradaSenha:
    print("Senha invalida")

In [ ]:
5==5
if True:
    print("Valor é igual")

In [ ]:
6>5
if True:
    print("Valor é Maior")

# Esse tipo de teste não funciona
6<5
if True:
    print("Valor é Maior")
else:
    print("Valor é Menor")

# Maneira correta

In [ ]:
if 6 < 5:
    print("Valor é Maior")
else:
    print("Valor é Menor")

# Lista de Funcionarios ID, Nome, Idade, Senha
# Lista Chave ID do funcionario
# [0] Nome segundo valor aninhado
# [1] Idade
# [2] senha

In [192]:
listaFuncionario = {1010:["Bob",18,123], 2020:["Carla",15,1234],3030:["João",17,12345]}

In [193]:
listaFuncionario

{1010: ['Bob', 18, 123], 2020: ['Carla', 15, 1234], 3030: ['João', 17, 12345]}

In [ ]:
# teste de chaves
for key in listaFuncionario:
    if key == 1515:
        print("Dentro do Valor")
    else:
        print("Dentro do Valor")

In [210]:
idEntrada = 2020
senhaEntrada = 1236
testeCondicao = False

print("Loggin..:")

while (testeCondicao == False):
    for key in listaFuncionario:
        if key == idEntrada:
            testeCondicao = True
            string_funcionario = list(listaFuncionario.get(key))
            print("ID....:", key, "\nNome..:", string_funcionario[0])
            print("\nDigite a senha..:")
            if string_funcionario[2] == senhaEntrada:
                print("Loggin realizado com sucesso")
                break
            else:
                print("Senha Invalida")
                break
    else:
        break
if testeCondicao == True:
    print("Carregando...")
    # Redirecionamento <Link:Pagina>
if testeCondicao == False:
    print("Usuario não existe")

Loggin..:
ID....: 2020
Nome..: Carla

Digite a senha..:
Senha Invalida
Carregando...

In [211]:
# Mal implementado
idEntrada = 2021
senhaEntrada = 12345

print("Loggin..:")

for key in listaFuncionario:
    if key == idEntrada:
        string_funcionario = list(listaFuncionario.get(key))
        print("ID....:", key, "\nNome..:", string_funcionario[0])
        print("\nDigite a senha..:")
        if string_funcionario[2] == senhaEntrada:
            print("Loggin realizado com sucesso")
            # Redirecionamento
        else:
            print("Senha Invalida")
    else:
        print("Usuario não existe")

Loggin..:
Usuario não existe
Usuario não existe
Usuario não existe

In [213]:
idade = 12
nome = "Bob"
if (idade >= 13) or (nome == "Bob"):
    print ("OKey")

OKey

In [215]:
idade = 15
if idade == 15:
    print ("Nice")

Nice

In [217]:
dia = "Terça"
if dia == "Terça":
    print("hoje é terça")
else:
    print("hoje não é terça")

hoje é terça

In [ ]:
# Elif entrada condicional adicional para 
# organização de dados
# algo parecido com 'Case' ou tipos de condicionais

In [218]:
if dia == "Segunda":
    print("Hoje fará sol!")
elif dia == "Terça":
    print("Hoje vai chover!")
else:
    print("Dados insuficientes!")

Hoje vai chover!

In [ ]:
dia = "Quarta"

if dia == "Segunda":
    print("Dia ensolarado!")
elif dia == "Terça":
    print("Hoje vai chover!")
elif dia == "Quarta":
    print("Dia será nublado!")
elif dia == "Quinta":
    print("Fortes pancadas de chuva!")
elif dia == "Sexta":
    print("Parcialmente nublado!")
else:
    print("Dados insuficientes!")

# Operador logico dentro de operações condicionais

# Funções input com entradas

In [ ]:
disciplina = input("Digite nome da disciplina: ")
primeiraVerificacao = input("valor da primeira nota (Entre 0 e 10): ")
segundaVerificacao = input("valor da primeira nota (Entre 0 e 10): ")

notaFinal = (primeiraVerificacao + segundaVerificacao)/2

if (notaFinal >= 7):
    print("Você foi aprovado! Em ")
else:    
    print("Você foi reprovado! Em ")

# Loop for
# pode ser usado em listas
# tuplas, elementos de
# dicionarios, arquivos

# Estrutura do loop
# for 'valor' in 'onde'

In [7]:
# Tupla
numeroFor = (1,2,3)
for valor in numeroFor:
    print(valor)

1
2
3

In [11]:
# Lista
numeroForLista = ["Oi", "Amigo", "Tudo bem?"]
for i in numeroForLista:
    print(i)

Oi
Amigo
Tudo bem?

In [24]:
# Contador
for contadorEventos in range(1,21):
    print(contadorEventos)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [44]:
# Imprimendo numeros pares
listaNumero = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for num in listaNumero:
    if ((num % 2) == 0):
        print("É par %s" %(num))
    else:
        print("É impar %s" %(num))

É impar 1
É par 2
É impar 3
É par 4
É impar 5
É par 6
É impar 7
É par 8
É impar 9
É par 10
É impar 11
É par 12
É impar 13
É par 14
É impar 15
É par 16
É impar 17
É par 18
É impar 19
É par 20

# Range saltando intervalos de 2

In [46]:
for i in range (0,100, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# Loop interno e loop externo

In [50]:
for i in range (0,5,2):
    print("Sequencia %s" %(i))
    for a in range (0,5):
        print(a)

Sequencia 0
0
1
2
3
4
Sequencia 2
0
1
2
3
4
Sequencia 4
0
1
2
3
4

# metodos

In [2]:
listaMetodos = [1,2,3]

# Mostrar todos os metodos e o que faz

In [6]:
help(listaMetodos.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [8]:
help(listaMetodos.index)

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [12]:
listaMetodos.index(1)
# indexado na posição 0

0

# Construindo uma função
# Uma função é um conjunto de instruções que executam
# uma determinada instrução
# recomendado usar comentarios na sua funcao

In [14]:
# def declaração da funcao
def primeiraFunc():
    print('Hello World')
    
    # Significa que sempre que escrevermos primeiraFunc
    # Sera feita uma chamada ao print 'Hello World'

In [15]:
primeiraFunc()

Hello World

In [77]:
def calculoArea(r):
    pi = 3.14
    Area = ((pi)*(r**2))
    print("%s em Metros²" %(Area))

In [78]:
calculoArea(15)

706.5 em Metros²

# Variaveis locais e globais

In [81]:
var_global = 10

def calcular(valor1,valor2):
    # essa variavel somente existe dentro da funcao, ou seja é uma variavel local, o 
    # "Systena externo nao reconhece sua existencia"
    var_global = valor1 + valor2
    print(var_global)

In [82]:
calcular(1,2)

3

In [83]:
var_global

10

In [84]:
# exemplo 2

def calcular(valor1,valor2):
    var_local = valor1 + valor2
    print(var_global)

In [85]:
calcular(5,5)

10

In [88]:
# sistema não reconhece a existencia da variavel local porque ela é interna a funcao
# logo ira surgir mensagem de erro
print(var_local)

NameError: name 'var_local' is not defined

# NÃO RECOMENDADO USAR NOMES IGUAIS DE VARIAVEIS LOCAIS E GLOBAIS
# EFEITO NEGATIVO E CONFUSAO NO CODIGO
# Algo util quando não quer limitar numero de parametros
# OU Quiser enviar varios parametros com quantidades diferentes

In [92]:
# FUNCAO COM MULTIPLOS PARAMETROS
def multiplosParametros(*parametros):
    for i in parametros:
        print("Você informou %s como Parametro" %(i))

In [93]:
multiplosParametros(1)

Você informou 1 como Parametro

In [94]:
multiplosParametros(1,2,3,4,5)

Você informou 1 como Parametro
Você informou 2 como Parametro
Você informou 3 como Parametro
Você informou 4 como Parametro
Você informou 5 como Parametro

# Funções lambda comparação

In [96]:
def funcPotenciaQuad(valor):
    potencia = valor**2
    return potencia

In [97]:
funcPotenciaQuad(5)

25

In [100]:
# simplificando
def funcPotenciaQuad(valor):
    return valor**2

In [104]:
funcPotenciaQuad(3)

9

In [102]:
# Simplificando ainda mais
def funcPotenciaQuad(valor): return valor**2

In [103]:
funcPotenciaQuad(2)

4

In [106]:
# usando lambda
# declara a funcao durante a atribuicao
# proprio valor apos os : sera o retorno da funcao

In [109]:
potencia = lambda valor: valor**2
#O que aconteceu?
#1 foi declarado a variavel
#dentro da declaração de atribuicao apos sinal de '=' foi chamado uma funcao pela nomenclatura de lambda 
# ou seja funcao sem nome
# dado como entrada um valor
# dentro da funcao 'valor recebe os dados e multiplica'
# conseguinte retorna diretamente para a variavel potencia
# IMPORTANTE N ACEITA MAIS DE UMA INSTRUCAO

In [108]:
potencia(4)

16

In [110]:
Par = lambda ePar: ePar % 2 == 0

In [111]:
Par(2)

True

In [112]:
Par(3)

False

In [174]:
filaExemplo = [2,2,2,2,2,6,7,8,9,10]

In [178]:
filaExemplo2 = [1,1,1,1,1,1]

In [179]:
# Atribuicao para uma fila em exemplo
def eParFila(Fila):
    novaFila = []
    for i in Fila:
        if(i % 2 == 0):
            novaFila.insert(i,"É par!")
        else:
           novaFila.insert(i,"É impar")
    return novaFila

In [180]:
eParFila(filaExemplo)

['É par!',
 'É par!',
 'É par!',
 'É par!',
 'É par!',
 'É par!',
 'É impar',
 'É par!',
 'É impar',
 'É par!']

In [196]:
eParFila(filaExemplo2)

['É impar', 'É impar', 'É impar', 'É impar', 'É impar', 'É impar']

In [225]:
# Atribuicao para uma fila em exemplo
#Coloca em uma nova fila 'Resposta', substuindo nomes por par ou impa

#declaração nome da função
def eParFila(Fila):
    #Declaração de fila vazia
    novaFila = []
    #Calcula se é par ou impa
    resultado = (lambda i:i%2 == 0)
    
    #for de varredura
    for i in Fila:
        #verificação de resultado verdadeiro ou falso
        if (resultado(i) == True):
            #sobreescrita dentro do indice
            novaFila.insert(i,"É par!")
        else:
            #sobreescrita dentro do indice
            novaFila.insert(i,"É impar")
    #retorno da fila        
    return novaFila

In [226]:
eParFila(filaExemplo2)

['É impar', 'É impar', 'É impar', 'É impar', 'É impar', 'É impar']

In [227]:
eParFila(filaExemplo)

['É par!',
 'É par!',
 'É par!',
 'É par!',
 'É par!',
 'É par!',
 'É impar',
 'É par!',
 'É impar',
 'É par!']